table {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;

    border-spacing: 0 0.5rem;

    th {
        text-align: left;
        font-size: 1rem;
        font-weight: normal;
        color: var(--gray);
        padding: 1rem 2rem;
        line-height: 1.5rem;
    }

    td {
        background-color: var(--off-white);
        padding: 1rem 2rem;
        color: var(--gray)
    }

    td:first-child {
        color: black;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    td:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}